body{
    margin: 0;
    font-family: helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color: #F6EFEF;
    
}
header{
   background-color:  lightblue; 
   text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;
   height: 250px;
}

h1, h2{
    font-family: 'Kaisei HarunoUmi', serif;
}
header h1{
    color: white;
    font-size: 40px;
    
}

header img{
    border-radius: 50px;
    height: 150px;
    border: 15px solid lavender;
    width: 500px;
}

main{
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;

}

a{
    color:lightblue
}
a:hover{
    background-color: lightsalmon;
}

footer{
    background-color: lightblue;
    text-align: center;
padding: 15px;
}

footer p{
    margin: 0;
}